html, body{
height: 100%;
overflow: hidden;
}

body {
    margin: 0;
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.navbar {
    width: 80%;
    padding-bottom: 0;
    margin: 0 auto;
}

.content {
    background-color: white;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.content p {
    margin: 0;
}

header {
    background: #557A95;
    padding-bottom: 0;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 15px;
    margin: 0;
    color: #ffffff;
    font-size: 25px;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:#d7e8f5
}

nav a::before {
    content:'';
    display: block;
    height: 5px;
    width: 0;
    background-color: #d7e8f5;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.imgtext {
    text-align: center;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
.adminpagebody{
    background-color: white;
}

.adminpage table{
    display: table;
    width: 99%;
    border-collapse: collapse;
    margin: 10px auto 0;
}

.adminpage th{
    text-align: left;
    border: 1px solid #333;

}

.adminpage td{
    border: 1px solid #333;
    max-width: 12.5%;
}

.admintext {
    margin: 10px 5% 0;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

* {
    box-sizing: border-box;
}

/*form styles*/
#reserverenformv2 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 20px;
}
#reserverenformv2 fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#reserverenformv2 fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#reserverenformv2 input, #reserverenformv2 textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
}
/*buttons*/
#reserverenformv2 .action-button {
    background: #557A95;
    width: auto;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
}
#reserverenformv2 .action-button:hover, #reserverenformv2 .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #557A95;
}
/*headings*/
.fs-title {
    font-size: 32px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subbtitle {
    font-weight: normal;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

#loginbutton {
    background: #557A95;
    width: auto;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
}
.bodyindex{
    overflow: auto;
    height: 100%;
}
.contentindex{
    background-color: white;
    width: 50%;
    height: 112%;
    margin: 0 auto;
}
.errortext{
    text-align: center;
    margin: 2%;
}
.contentindex p {
    padding: 1em;
}
.goedbutton{
    background: #557A95;
    width: auto;
    color: white;
    border: 0 none;
    border-radius: 2px;
    cursor: pointer;
    padding: 3px 15px;
    margin-left: 10px;
    box-sizing: border-box;
}
