html, body{
height: 100%;
overflow: hidden;
}

body {
    margin: 0;
    background: #efefef;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.navbar {
    width: 80%;
    padding-bottom: 0;
    margin: 0 auto;
}

.content {
    background-color: white;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.content p {
    margin: 0;
}

header {
    background: #557A95;
    padding-bottom: 0;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 15px;
    margin: 0;
    color: #ffffff;
    font-size: 25px;
}
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    position: relative;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color:#d7e8f5
}

nav a::before {
    content:'';
    display: block;
    height: 5px;
    width: 0;
    background-color: #d7e8f5;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#reserverenform {
    background-color: #ffffff;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

.formtitel {
    text-align: center;
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

button {
    background-color: #557A95;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #557A95;
}